@import url("../css/theme.css");

.document {
  width: 65%; }
  @media (max-width: 1300px) {
    .document {
      width: 100%; } }

/*---------------------- Sphinx Directives -----------------------------*/
/*Color any Topic block */
.topic {
  padding: 10px 10px 0 10px;
  border: 1px solid lightgrey;
  background: #fafafa; }
  .topic.contents {
    background: inherit; }

.code-block-caption .caption-text {
  font-family: courier new; }

/*Color + trophy icon for congrats blocks*/
.congrats {
  background: none;
  border: 1px solid green;
  margin-bottom: 10px; }
  .congrats .topic-title:before {
    content: "\f091";
    /*code for the "trophy" icon. please refer to https://fontawesome.com/cheatsheet*/
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: darkgreen;
    font-size: 18px;
    padding-right: 0.5em; }

.technical {
  border: 1px solid grey;
  margin-bottom: 10px; }
  .technical .topic-title:before {
    content: "\f085";
    /*please refer to https://fontawesome.com/cheatsheet*/
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: darkgreen;
    font-size: 18px;
    padding-right: 0.5em; }

/* --------------     Styling for AIMMS Syntax highlighter -------------------------------- */
.highlight-aimms {
  /*--------  Styling for AIMMS declared identifier name by type (see AIMMS PowerPoint colour palette) --------------*/ }
  .highlight-aimms .highlight {
    background-color: #fff; }
  .highlight-aimms .highlight .kr {
    /*Styling for AIMMS blue built-in keywords, like if-then-else*/
    color: blue; }
  .highlight-aimms .highlight .nb {
    /*Styling for AIMMS intrinsic red function and Predeclared Identifiers, like Execute()*/
    color: brown; }
  .highlight-aimms .highlight .na {
    /*Styling for AIMMS Named attributes (ex: SubsetOf, indexDomain, etc.), operators(ex: =) and punctuation (ex: ; or ,)*/
    color: #585858;
    font-weight: bold; }
  .highlight-aimms .highlight .o, .highlight-aimms .highlight .p {
    color: black;
    font-weight: bold; }
  .highlight-aimms .highlight .cm, .highlight-aimms .highlight .c1, .highlight-aimms .highlight .c2 {
    /*Styling for AIMMS comments*/
    color: green;
    font-style: italic; }
  .highlight-aimms .highlight .s1, .highlight-aimms .highlight .s2 {
    /*Styling for AIMMS Strings + set elements*/
    color: gray;
    font-style: italic; }
  .highlight-aimms .highlight .kd {
    /*Styling for AIMMS declaration identifier type (Parameter, Variable, etc.)*/
    color: black;
    font-weight: bold; }
  .highlight-aimms .highlight .nv {
    /*Styling for AIMMS declared identifier name by default, if not part of the general list below*/
    color: #c88200; }
  .highlight-aimms .highlight .n.n-Set {
    /*Set*/
    color: black; }
  .highlight-aimms .highlight .n.n-Parameter {
    /*Parameter*/
    color: DarkCyan; }
  .highlight-aimms .highlight .n.n-ElementParameter {
    /*Element Parameter*/
    color: DarkCyan; }
  .highlight-aimms .highlight .n.n-Variable {
    /*Variable*/
    color: PaleVioletRed; }
  .highlight-aimms .highlight .n.n-Constraint {
    /*Constraint*/
    color: black; }
  .highlight-aimms .highlight .n.n-MathematicalProgram {
    /*MathematicalProgram*/
    color: black; }
  .highlight-aimms .highlight .n.n-StringParameter {
    /*String Parameter*/
    color: black; }
  .highlight-aimms .highlight .n.n-UnitParameter {
    /*Unit Parameter*/
    color: purple; }
  .highlight-aimms .highlight .n.n-Quantity {
    /*Quantity*/
    color: black; }
  .highlight-aimms .highlight .n.n-DatabaseTable {
    /*DatabaseTable*/
    color: purple; }
  .highlight-aimms .highlight .n.n-Calendar {
    /*Calendar*/
    color: black; }
  .highlight-aimms .highlight .n.n-Index {
    /*Index*/
    color: black; }
  .highlight-aimms .highlight .n.n-Procedure {
    color: black; }
  .highlight-aimms .highlight .n.n-Convention {
    /*Convention*/
    color: black; }

/* --------------     Styling for AIMMS Domain declarations -------------------------------- */  

dl.librarymodule em.property {
    
    background-image: url("../icons/librarymodule.png");
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 20px;
    padding-top: 2px;
}

dl.procedure em.property {
    
    background-image: url("../icons/ProcedureIcon.PNG");
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 20px;
    padding-top: 2px;
}

dl.externalprocedure em.property {
    
    background-image: url("../icons/externalprocedure.png");
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 20px;
    padding-top: 3px;
}

dl.function em.property {
    
    background-image: url("../icons/FunctionIcon.PNG");
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 20px;
    padding-top: 2px;
}

dl.parameter em.property {
    
    background-image: url("../icons/MEDeclPar.PNG");
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 20px;
    padding-top: 2px;
}

dl.elementparameter em.property {
    
    background-image: url("../icons/MEDeclElemPar.PNG");
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 20px;
    padding-top: 2px;
}

dl.stringparameter em.property {
    
    background-image: url("../icons/MEDeclStringPar.PNG");
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 20px;
    padding-top: 2px;
}

dl.unitparameter em.property {
    
    background-image: url("../icons/MEDeclUnitPar.PNG");
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 20px;
    padding-top: 2px;
}

dl.set em.property {
    
    background-image: url("../icons/MEDeclSet.PNG");
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 20px;
    padding-top: 2px;
}

dl.index em.property {
    
    background-image: url("../icons/MEDeclIndex.PNG");
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 20px;
    padding-top: 2px;
}

dl.variable em.property {
    
    background-image: url("../icons/MEDeclVar.PNG");
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 20px;
    padding-top: 2px;
}

dl.constraint em.property {
    
    background-image: url("../icons/MEDeclCon.PNG");
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 20px;
    padding-top: 2px;
}

dl.mathematicalprogram em.property {
    
    background-image: url("../icons/MEDeclMP.PNG");
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 20px;
    padding-top: 2px;
}

dl.databasetable em.property {
    
    background-image: url("../icons/MEDeclDatabaseTable.PNG");
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 20px;
    padding-top: 2px;
}

dl.calendar em.property {
    
    background-image: url("../icons/MEDeclCal.PNG");
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 20px;
    padding-top: 2px;
}

dl.file em.property {
    
    background-image: url("../icons/MEDeclFile.PNG");
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 20px;
    padding-top: 2px;
}

dl.handle em.property {
    
    background-image: url("../icons/MEDeclHandle.PNG");
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 20px;
    padding-top: 2px;
}
    
/* --------------     Styling for intersphinx references -------------------------------- */

/*Brown color for items coming from the AIMMS Function Reference intersphinx*/
a[title="(in AIMMS Function Reference)"] .pre { color: brown; }

/* --------------     Global document styling -------------------------------- */

h1, h2, .rst-content .toctree-wrapper p.caption, h3, h4, h5, h6, legend, p {
  font-family: "futura-pt", sans-serif; }

.btn {
  padding: 15px 30px;
  font-size: 12px;
  font-family: "futura-pt", sans-serif;
  text-transform: uppercase;
  -webkit-transition: .4s background-color;
  transition: .4s background-color;
  border-color: #9B9B9B;
  font-weight: bold;
  letter-spacing: 0.1em; }
  .btn.btn-neutral {
    background-color: #fff !important; }
    .btn.btn-neutral:hover {
      background-color: #009dd9 !important;
      border-color: #009dd9;
      color: #fff !important; }

.wy-nav-content {
  max-width: 100%;
  padding: 25px 50px; }
  .wy-nav-content a:visited {
    color: #909aae; }

.wy-nav-content-wrap {
  background: none; }

a {
  color: #009dd9; }
  a:hover {
    color: #909aae; }

body {
  font-family: "futura-pt", sans-serif !important;
  -webkit-font-smoothing: antialiased; }

.icones {
  max-width: 25px !important;
  margin-right: 10px; }
  .icones img {
    max-width: 25px !important;
    margin-right: 10px; }

.wy-table-responsive table td {
  white-space: normal; }

@media screen and (min-width: 767px) {
  .wy-table-responsive {
    overflow: visible; } }
/* code highlights */
code, .rst-content tt, .rst-content code {
  white-space: nowrap;
  max-width: 100%;
  background: #eaeaea;
  border: solid 1px #fafafa;
  font-size: 75%;
  padding: 0 5px;
  font-family: "futura-pt", sans-serif;
  color: #000;
  overflow-x: auto; }

.rst-content tt.literal, .rst-content code.literal {
  color: #5e5e5e;
  font-family: 'Courier New'; }
.rst-content .highlighted {
  background-color: #d5dbdc; }
.rst-content code {
  background: #fff;
  border: solid 1px lightgrey;
  padding: 5px; }
  .rst-content code.download {
    font-family: "futura-pt", sans-serif;
    color: #009dd9; }
    .rst-content code.download:hover {
      color: #919baf; }
.rst-content .note {
  background: #E5F5FB; }
  .rst-content .note .admonition-title {
    background: #59BFE6; }
.rst-content .warning {
  background: #FCEDEB; }
  .rst-content .warning .admonition-title {
    background: #EF8A80; }
.rst-content .tip {
  background: #FFF8E5; }
  .rst-content .tip .admonition-title {
    background: #FFD659; }
.rst-content .hint {
  background: #E9F6EF; }
  .rst-content .hint .admonition-title {
    background: #72CA97; }

li {
  line-height: 1.5em; }

.menuselection {
  font-style: italic; }

h1.thanks {
  font-size: 200%;
  font-weight: bold;
  text-align: center; }

h3.helpfull {
  display: inline;
  margin-right: 20px; }

/* Copy buttons */
button.copybtn {
  webkit-transition: opacity .3s ease-in-out;
  -o-transition: opacity .3s ease-in-out;
  transition: opacity .3s ease-in-out;
  opacity: 0;
  padding: 2px 6px;
  position: absolute;
  right: 1px;
  top: 1px;
  background: #fff; }
  button.copybtn:hover {
    background: #009dd9;
    opacity: 1; }

div.highlight:hover .copybtn, div.highlight .copybtn:focus {
  opacity: .3; }

div.highlight {
  position: relative; }

.main-menu {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  padding-bottom: 20px; }
  .main-menu .logo {
    flex: 1; }
    .main-menu .logo img {
      max-width: 220px; }
  .main-menu > ul {
    flex: 2;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap; }
    .main-menu > ul > li {
      padding: 0 15px;
      position: relative; }
      .main-menu > ul > li:hover > ul {
        display: inherit; }
      .main-menu > ul > li:last-child {
        padding-right: 0; }
      .main-menu > ul > li > a {
        -webkit-font-smoothing: antialiased;
        font-family: "futura-pt", sans-serif;
        color: #909aae;
        font-size: 12px;
        letter-spacing: 1.5px;
        text-transform: uppercase;
        height: 30px;
        display: block; }
        .main-menu > ul > li > a:hover {
          color: #009dd9; }
        .main-menu > ul > li > a:visited {
          color: #909aae; }
        .main-menu > ul > li > a:after {
          content: '\f078';
          font-family: 'FontAwesome';
          margin-left: 5px; }
        .main-menu > ul > li > a:only-child:after {
          content: ''; }
    .main-menu > ul ul {
      display: none;
      position: absolute;
      top: 30px;
      background: #f4f4f4;
      z-index: 10; }
      .main-menu > ul ul li {
        width: 200px;
        display: list-item; }
        .main-menu > ul ul li > a {
          display: block;
          border-bottom: 1px solid #ccc;
          padding: 3px 10px;
          font-family: "futura-pt", sans-serif;
          color: #909aae;
          font-size: 12px;
          letter-spacing: 1.5px;
          text-transform: uppercase; }
          .main-menu > ul ul li > a:hover {
            color: #009dd9; }
        .main-menu > ul ul li:last-child > a {
          border-bottom: none; }
  @media (max-width: 1200px) {
    .main-menu .logo {
      text-align: center;
      margin-bottom: 30px;
      flex: 0 0 100%; }
    .main-menu ul {
      justify-content: center; }
      .main-menu ul li:last-child {
        padding-right: 15px; } }

@media (max-width: 500px) {
  .wy-nav-top a {
    color: #fff; } }
.wy-breadcrumbs {
  border-bottom: 1px solid #e1e4e5;
  margin-bottom: 25px;
  padding-bottom: 25px; }

footer {
  margin: 30px auto 0; }
  footer .social {
    display: none;
    margin: 20px 0;
    text-align: center; }
    footer .social li {
      display: inline-block; }
    footer .social a {
      font-size: 24px;
      color: #000;
      margin: 0 10px; }
      footer .social a:hover {
        color: #009dd9; }
  footer .links {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 40px 0 20px;
    justify-content: center; }
    footer .links > div {
      margin: 10px; }
    footer .links .logo img {
      max-width: 180px; }
    footer .links a {
      font-size: 11px;
      color: #000;
      letter-spacing: 1px; }
      footer .links a:hover {
        color: #009dd9; }
      footer .links a:visited {
        color: #909aae; }
    footer .links .btn {
      background-color: #15c2ff;
      font-size: 12px;
      padding: 10px 20px;
      border: none;
      height: 60px;
      display: flex;
      align-items: center;
      font-weight: normal;
      justify-content: center;
      color: #000; }
      footer .links .btn > a:visited {
        color: #000; }
      footer .links .btn:hover > a {
        color: #fff; }
  footer .copy {
    font-size: 11px;
    color: #adadad;
    letter-spacing: 1px;
    text-align: center; }
  @media (max-width: 1300px) {
    footer .logo {
      flex: 1 1 100%;
      text-align: center; } }
  @media (max-width: 400px) {
    footer .rst-footer-buttons .btn {
      float: none;
      margin-bottom: 10px;
      width: 100%; }
    footer .links .btn {
      flex: 1 1 100%; } }

.wy-nav-side {
  background: #f5f5f5 !important;
  font-family: "futura-pt", sans-serif; }

.wy-side-nav-search h3 {
  font-weight: bold;
  font-size: 1.5rem;
  margin: 0 0 15px; }
  .wy-side-nav-search h3 a, .wy-side-nav-search h3 a:visited {
    color: #575757; }

.wy-menu-vertical a {
  color: #909aae; }
  .wy-menu-vertical a:visited {
    color: #909aae; }
  .wy-menu-vertical a:hover, .wy-menu-vertical a:active {
    color: #009dd9 !important; }
  .wy-menu-vertical a:hover {
    background-color: #f2f2f2 !important; }
    .wy-menu-vertical a:hover span.toctree-expand {
      color: #009dd9; }
.wy-menu-vertical li.current {
  background: none; }
  .wy-menu-vertical li.current > a {
    color: #009dd9; }
    .wy-menu-vertical li.current > a:hover {
      background: none;
      color: #009dd9; }
.wy-menu-vertical li.toctree-l1 > a {
  text-transform: uppercase;
  letter-spacing: 0.1em; }
.wy-menu-vertical li.toctree-l1.current > a {
  box-shadow: 0 0 11px 0 rgba(0, 0, 0, 0.06);
  border: none; }
.wy-menu-vertical li.toctree-l2.current > a {
  background: none;
  color: #009dd9; }
.wy-menu-vertical li.toctree-l2 a, .wy-menu-vertical li.toctree-l3 a, .wy-menu-vertical li.toctree-l4 a {
  color: #7d879a;
  background: none !important; }
.wy-menu-vertical li.toctree-l4 a {
  font-size: 12px; }

/* makes concise tree (line height) */
li.toctree-l2 span.link-wrapper a.reference.internal {
  padding-bottom: 5px;
  padding-top: 5px; }

.wy-side-nav-search {
  background-color: #f5f5f5; }
  .wy-side-nav-search input[type=text] {
    background-color: white;
    border-radius: 10px;
    -webkit-font-smoothing: antialiased;
    font-family: "futura-pt", sans-serif; }
  .wy-side-nav-search > a img.logo {
    display: none; }
  .wy-side-nav-search img {
    height: 100%;
    width: 100%;
    background: none;
    border-radius: 0;
    margin: 0; }

.home_header {
  text-align: center;
  margin-top: 30px; }

#content_home_page {
  width: 100%;
  max-width: 1000px;
  /* A. max horizontal number of boxes =~ int(A/B) */
  margin: 0 auto; }
  #content_home_page p {
    text-align: justify; }
  #content_home_page .boxes {
    display: flex;
    flex-wrap: wrap; }

.box_home_page {
  font-family: "futura-pt", sans-serif;
  background-color: #fff;
  border-radius: 5px;
  margin: 10px 10px 50px;
  flex: 1 1 31%;
  box-shadow: 0 0 11px 0 rgba(0, 0, 0, 0.06);
  text-align: center;
  padding: 20px 10px;
  cursor: pointer; }
  .box_home_page:hover {
    opacity: 0.7;
    transition: all .2s ease-in-out; }
    .box_home_page:hover h1 {
      opacity: 1; }
  .box_home_page h1 {
    color: #000;
    font-size: 22px;
    font-family: "futura-pt", sans-serif;
    -webkit-font-smoothing: antialiased;
    margin-left: 10px !important;
    margin-right: 10px !important;
    margin-bottom: 25px !important;
    border: none !important;
    padding-top: 5px; }
    .box_home_page h1:hover {
      color: #009dd9; }
  .box_home_page > div {
    color: #000;
    font-style: italic; }
  @media (max-width: 900px) {
    .box_home_page {
      flex: 1 1 48%; } }
  @media (max-width: 767px) {
    .box_home_page {
      flex: 1 1 31%; } }
  @media (max-width: 500px) {
    .box_home_page {
      flex: 1 1 90%; } }

.localtoc {
  font-size: .75rem;
  position: absolute;
  right: 0;
  width: calc(35% - 140px);
  padding: 0 20px;
  top: 255px; }
  .localtoc .caption {
    font-size: .9rem;
    font-weight: 700;
    margin-bottom: 10px; }
  .localtoc ul > li > a {
    display: none;
    padding: 5px 0 5px 10px;
    line-height: 1.1rem;
    color: #909aae;
    border-left: 3px solid #909aae; }
    .localtoc ul > li > a:hover, .localtoc ul > li > a:focus, .localtoc ul > li > a:focus-within {
      color: #009dd9; }
    .localtoc ul > li > a.active {
      border-left-color: #009dd9;
      font-weight: 700;
      color: #009dd9; }
  .localtoc ul > li > ul > li > a {
    display: block; }
  @media (max-width: 1300px) {
    .localtoc {
      display: none; } }

.affix {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 9999;
  display: none; }
  .affix .localtoc {
    top: 30px; }

/* Add a "student cap" icon before every academy.aimms.com links*/
.rst-content a.reference.external[href*="academy.aimms"]:before {
    font-family: FontAwesome;
    content: "\f19d";
    color: #b3b3b3;
    font-size: 100%;
    margin: 0 .2em;
}
.rst-content a.reference.external[href*="academy.aimms"]:after {
    content: "";
}  
/*# sourceMappingURL=styles.css.map */
